{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--- primary meta tag -->
    <title>Kitter - High Quality Pet Food</title>
    <meta name="title" content="Kitter - High Quality Pet Food" />
    <meta
      name="description"
      content="This is an eCommerce html template made by codewithsadee"
    />

    <!--- favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'favicon.svg' %}"
      type="image/svg+xml"
    />

    <!--- custom css link -->
    <link rel="stylesheet" href="{% static 'home/css/edit.css' %}" />

    <!--- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="top">
    <!--- #HEADER-->
    <header class="header" data-header>
      <div class="container">
        <button
          class="nav-toggle-btn"
          aria-label="toggle menu"
          data-nav-toggler
        >
          <ion-icon
            name="menu-outline"
            aria-hidden="true"
            class="menu-icon"
          ></ion-icon>
          <ion-icon
            name="close-outline"
            aria-label="true"
            class="close-icon"
          ></ion-icon>
        </button>

        <a href="#" class="logo">Admin</a>

        <nav class="navbar" data-navbar>
          <ul class="navbar-list">
            <li class="navbar-item">
              <a
                href="{% url 'adminDashboard' %}"
                class="navbar-link"
                data-nav-link
                >Dashboard</a
              >
            </li>
            <li class="navbar-item">
              <a href="{% url 'adminShop' %}" class="navbar-link" data-nav-link
                >Shop</a
              >
            </li>
            <li class="navbar-item">
              <a href="{% url 'adminPet' %}" class="navbar-link" data-nav-link
                >Pets</a
              >
            </li>
            <!-- <li class="navbar-item">
              <a href="{% url 'adminBook' %}" class="navbar-link" data-nav-link
                >Book</a
              >
            </li> -->
            <li class="navbar-item">
              <a href="#" class="navbar-link" data-nav-link>Edit</a>
            </li>
          </ul>

          <a href="#" class="navbar-action-btn">Log In</a>
        </nav>

        <div class="header-actions">
          <button class="action-btn" aria-label="Search">
            <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
          </button>
          <div class="search-box">
            <div class="search-container">
              <input
                type="text"
                id="breed-search"
                placeholder="Search..."
                class="search-input"
              />
              <button id="search-button" class="search-button">Submit</button>
            </div>
          </div>

          <a href="{% url 'login' %}" class="action-btn user" aria-label="User">
            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
          </a>

          <button class="action-btn" aria-label="cart">
            <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
            <span class="btn-badge">0</span>
          </button>
        </div>
      </div>
    </header>

    <main>
      <article>
        <!--- #HERO -->
        <!-- Search Pets -->
        <div>
          <div id="search-display" class="grid-list"></div>
        </div>

        <!--- #BRAND -->
        <!-- CRUD for Pets -->
        <section class="section brand" aria-label="brand">
          <div class="container">
            <h2 class="h2 section-title">
              <span class="span">CRUD for</span> Pets
            </h2>

            <div class="wrapper-grid">
              <!-- Add New Pet -->
              <div class="wrapper">
                <form id="add-pet-form" enctype="multipart/form-data">
                  <h1>Add Pet</h1>
                  <div class="input-box">
                    <input
                      type="text"
                      id="breed"
                      name="breed"
                      placeholder="Breed"
                      required
                    />
                    <i class="bx bxs-user"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="gender"
                      name="gender"
                      placeholder="Gender"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="age"
                      name="age"
                      placeholder="Age"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="description"
                      name="description"
                      placeholder="Description"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box file-input-box">
                    <input
                      type="file"
                      id="image"
                      name="image"
                      accept="image/*"
                      required
                    />
                    <i class="bx bxs-image"></i>
                  </div>
                  <button type="submit" class="add-btn">Add New Pet</button>
                </form>
                <div id="message" class="message"></div>
              </div>

              <!-- Update Pet -->
              <div class="wrapper">
                <form id="update-pet-form">
                  <h1>Update Pet</h1>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-pet-id"
                      name="pet-id"
                      placeholder="Pet ID"
                      required
                    />
                    <i class="bx bxs-user"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-breed"
                      name="breed"
                      placeholder="Breed"
                      required
                    />
                    <i class="bx bxs-user"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-gender"
                      name="gender"
                      placeholder="Gender"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-age"
                      name="age"
                      placeholder="Age"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-description"
                      name="description"
                      placeholder="Description"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box checkbox-wrapper">
                    <label for="update-is-adopted">Is Adopted:</label>
                    <input
                      type="checkbox"
                      id="update-is-adopted"
                      name="is-adopted"
                    />
                  </div>
                  <button type="submit" class="add-btn">Update Pet</button>
                </form>
                <div id="update-message" class="message"></div>
              </div>

              <!-- Delete Pet -->
              <div class="wrapper">
                <div class="delete-pet-form">
                  <h1>Delete Pet</h1>
                  <form id="delete-pet-form">
                    <div class="input-box">
                      <input
                        type="text"
                        id="delete-pet-id"
                        name="delete-pet-id"
                        placeholder="Pet ID"
                        required
                      />
                      <i class="bx bxs-user"></i>
                    </div>
                    <button type="submit" class="add-btn">Delete Pet</button>
                  </form>
                  <div id="delete-message" class="message"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- CRUD for Shop -->
        <section class="section brand" aria-label="brand">
          <div class="container">
            <h2 class="h2 section-title">
              <span class="span">CRUD for</span> Shop
            </h2>

            <div class="wrapper-grid">
              <!-- Add Item -->
              <div class="wrapper">
                <form id="add-item-form" enctype="multipart/form-data">
                  <h1>Add Item</h1>
                  <div class="input-box">
                    <input
                      type="text"
                      id="item"
                      name="item"
                      placeholder="Item"
                      required
                    />
                    <i class="bx bxs-user"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="description"
                      name="description"
                      placeholder="Description"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="type"
                      name="type"
                      placeholder="Type"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="cost"
                      name="cost"
                      placeholder="Cost"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="number"
                      id="quantity"
                      name="quantity"
                      placeholder="Quantity"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box file-input-box">
                    <input
                      type="file"
                      id="image"
                      name="image"
                      accept="image/*"
                      required
                    />
                    <i class="bx bxs-image"></i>
                  </div>
                  <button type="submit" class="add-btn">Add New Item</button>
                </form>
                <div id="item-message" class="message"></div>
              </div>

              <!-- Update Item -->
              <div class="wrapper">
                <form id="update-item-form">
                  <h1>Update Item</h1>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-item-id"
                      name="item-id"
                      placeholder="Item ID"
                      required
                    />
                    <i class="bx bxs-user"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-item"
                      name="item"
                      placeholder="Item"
                      required
                    />
                    <i class="bx bxs-user"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-description"
                      name="description"
                      placeholder="Description"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-type"
                      name="type"
                      placeholder="Type"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-cost"
                      name="cost"
                      placeholder="Cost"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="number"
                      id="update-quantity"
                      name="quantity"
                      placeholder="Quantity"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <button type="submit" class="add-btn">Update Item</button>
                </form>
                <div id="update-item-message" class="message"></div>
              </div>

              <!-- Delete Item -->
              <div class="wrapper">
                <div class="delete-item-form">
                  <h1>Delete Item</h1>
                  <form id="delete-item-form">
                    <div class="input-box">
                      <input
                        type="text"
                        id="delete-item-id"
                        name="delete-item-id"
                        placeholder="Item ID"
                        required
                      />
                      <i class="bx bxs-user"></i>
                    </div>
                    <button type="submit" class="add-btn">Delete Item</button>
                  </form>
                  <div id="delete-item-message" class="message"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- CRUD for Booking -->
        <section class="section brand" aria-label="brand">
          <div class="container">
            <h2 class="h2 section-title">
              <span class="span">CRUD for</span> Booking
            </h2>

            <div class="wrapper-grid">
              <div class="wrapper">
                <form id="add-booking-form">
                  <h1>Add Booking</h1>
                  <div class="input-box">
                    <input
                      type="text"
                      id="fname"
                      name="fname"
                      placeholder="First Name"
                      required
                    />
                    <i class="bx bxs-user"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="email"
                      id="email"
                      name="email"
                      placeholder="Email"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="date"
                      id="date"
                      name="date"
                      placeholder="Date"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="time"
                      id="time"
                      name="time"
                      placeholder="Time"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="message"
                      name="message"
                      placeholder="Message"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <button type="submit" class="add-btn">Add Booking</button>
                </form>
                <div id="booking-message" class="message"></div>
              </div>

              <!-- Update Booking -->
              <div class="wrapper">
                <form id="update-booking-form">
                  <h1>Update Booking</h1>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-booking-id"
                      name="booking-id"
                      placeholder="Booking ID"
                      required
                    />
                    <i class="bx bxs-user"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-fname"
                      name="fname"
                      placeholder="First Name"
                      required
                    />
                    <i class="bx bxs-user"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="email"
                      id="update-email"
                      name="email"
                      placeholder="Email"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="date"
                      id="update-date"
                      name="date"
                      placeholder="Date"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="time"
                      id="update-time"
                      name="time"
                      placeholder="Time"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <div class="input-box">
                    <input
                      type="text"
                      id="update-message"
                      name="message"
                      placeholder="Message"
                      required
                    />
                    <i class="bx bxs-lock-alt"></i>
                  </div>
                  <button type="submit" class="add-btn">Update Booking</button>
                </form>
                <div id="update-booking-message" class="message"></div>
              </div>

              <!-- Delete Booking -->
              <div class="wrapper">
                <div class="delete-booking-form">
                  <h1>Delete Booking</h1>
                  <form id="delete-booking-form">
                    <div class="input-box">
                      <input
                        type="text"
                        id="delete-booking-id"
                        name="delete-booking-id"
                        placeholder="Booking ID"
                        required
                      />
                      <i class="bx bxs-user"></i>
                    </div>
                    <button type="submit" class="add-btn">
                      Delete Booking
                    </button>
                  </form>
                  <div id="delete-booking-message" class="message"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>

    <!--- #FOOTER -->
    <footer
      class="footer"
      style="background-image: url(static/home/images/footer-bg.jpg)"
    >
      <div class="footer-top section">
        <div class="container">
          <div class="footer-brand">
            <a href="#" class="logo">Kitter</a>

            <p class="footer-text">
              If you have any question, please contact us at
              <a href="mailto:support@gmail.com" class="link"
                >support@gmail.com</a
              >
            </p>

            <ul class="contact-list">
              <li class="contact-item">
                <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
                <address class="address">
                  30 Buttonwood St.Pataskala OH 43062
                </address>
              </li>
              <li class="contact-item">
                <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
                <a href="tel:+16234567891011" class="contact-link"
                  >(+1)-6234-56-789-1011</a
                >
              </li>
            </ul>

            <ul class="social-list">
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-pinterest"></ion-icon>
                </a>
              </li>
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
            </ul>
          </div>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Corporate</p>
            </li>
            <li><a href="#" class="footer-link">Careers</a></li>
            <li><a href="#" class="footer-link">About Us</a></li>
            <li><a href="#" class="footer-link">Contact Us</a></li>
            <li><a href="#" class="footer-link">FAQs</a></li>
            <li><a href="#" class="footer-link">Vendors</a></li>
            <li><a href="#" class="footer-link">Affiliate Program</a></li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Information</p>
            </li>
            <li><a href="#" class="footer-link">Online Store</a></li>
            <li><a href="#" class="footer-link">Privacy Policy</a></li>
            <li><a href="#" class="footer-link">Refund Policy</a></li>
            <li><a href="#" class="footer-link">Shipping Policy</a></li>
            <li><a href="#" class="footer-link">Terms of Service</a></li>
            <li><a href="#" class="footer-link">Track Order</a></li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Services</p>
            </li>
            <li><a href="#" class="footer-link">Grooming</a></li>
            <li><a href="#" class="footer-link">Positive Dog Training</a></li>
            <li><a href="#" class="footer-link">Veterinary Services</a></li>
            <li><a href="#" class="footer-link">Petco Insurance</a></li>
            <li><a href="#" class="footer-link">Pet Adoption</a></li>
            <li><a href="#" class="footer-link">Resource Center</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <p class="copyright">
            &copy; 2022 Made with ♥ by
            <a href="#" class="copyright-link">codewithsadee.</a>
          </p>

          <img
            src="{% static 'home/images/payment.png' %}"
            width="397"
            height="32"
            loading="lazy"
            alt="payment method"
            class="img"
          />
        </div>
      </div>
    </footer>

    <!--- #BACK TO TOP-->
    <a
      href="#top"
      class="back-top-btn"
      aria-label="back to top"
      data-back-top-btn
    >
      <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
    </a>

    <!-- custom js link -->
    <script src="{% static 'home/scripts/script.js' %}" defer></script>
    <script src="{% static 'home/scripts/searchPets.js' %}"></script>
    <script src="{% static 'home/scripts/allPets.js' %}"></script>
    <script src="{% static 'home/scripts/CRUDPets/createPets.js' %}"></script>
    <script src="{% static 'home/scripts/CRUDPets/updatePets.js' %}"></script>
    <script src="{% static 'home/scripts/CRUDPets/deletePets.js' %}"></script>
    <script src="{% static 'home/scripts/CRUDShop/createItem.js' %}"></script>
    <script src="{% static 'home/scripts/CRUDShop/updateItem.js' %}"></script>
    <script src="{% static 'home/scripts/CRUDShop/deleteItem.js' %}"></script>
    <script src="{% static 'home/scripts/CRUDBookings/createBooking.js' %}"></script>
    <script src="{% static 'home/scripts/CRUDBookings/updateBooking.js' %}"></script>
    <script src="{% static 'home/scripts/CRUDBookings/deleteBooking.js' %}"></script>

    <!--- ionicon link -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
   
  </body>
</html>
