{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kitter - High Quality Pet Food</title>
    <meta name="title" content="Kitter - High Quality Pet Food">
    <meta name="description" content="This is an eCommerce html template made by codewithsadee">

    <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/css/hint.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" as="image" href="{% static 'home/images/hero-banner.jpg' %}">
</head>

<body>
    <header class="header" data-header>
        <div class="container">
            <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
                <ion-icon name="menu-outline" aria-hidden="true" class="menu-icon"></ion-icon>
                <ion-icon name="close-outline" aria-hidden="true" class="close-icon"></ion-icon>
            </button>
            <a href="#" class="logo">Kitter</a>
            <nav class="navbar" data-navbar>
                <ul class="navbar-list">
                    <li class="navbar-item"><a href="{% url 'home' %}" class="navbar-link" data-nav-link>Home</a></li>
                    <li class="navbar-item"><a href="{% url 'shop' %}" class="navbar-link" data-nav-link>Shop</a></li>
                    <li class="navbar-item"><a href="{% url 'pet' %}" class="navbar-link" data-nav-link>Pets</a></li>
                    <li class="navbar-item"><a href="#" class="navbar-link" data-nav-link>Book</a></li>
                </ul>
                <a href="#" class="navbar-action-btn">Log In</a>
            </nav>
            <div class="header-actions">
                <button class="action-btn" aria-label="Search">
                    <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
                </button>
                <div class="search-box">
                    <div class="search-container">
                        <input type="text" id="breed-search" placeholder="Search..." class="search-input">
                        <button id="search-button" class="search-button">Submit</button>
                    </div>
                </div>
                <a href="{% url 'login' %}" class="action-btn user" aria-label="User">
                    <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                </a>
                <button class="action-btn" aria-label="cart">
                    <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                    
                </button>
            </div>
        </div>
    </header>

    <div class="wrapper">
        <form action="">
            <h1>Reset Password</h1>
            <div class="input-box">
                <input type="text" placeholder="Name of your first Dog" required>
                <i class="bx bx-question-mark"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="New Password" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Verify Password" required>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <button type="submit" class="login-btn">Create New Password</button>
        </form>
    </div>

    <script src="{% static 'home/scripts/script.js' %}" defer></script>
    <script src="{% static 'home/scripts/searchPets.js' %}"></script>
    <script src="{% static 'home/scripts/allPets.js' %}"></script>
    <script src="{% static 'home/scripts/hint.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
